.introduction{
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  position: relative;
  height: 75vh;

  @media #{$media-sm} {
    height: 50vh;
  }
  
  &__box{
    z-index: 10;
    @media #{$media-sm} {
      top: 14%;
      position: relative;
    }
  }

  &__logo{
    position: absolute;
    top: 5%;
    left: 0;
    width: 60%;
    height: 70%;
    object-fit: contain;
    object-position: center;
    opacity: 0.2;

    @media #{$media-sm} {
      width: 75%;
      height: 75%;
    }
  }

  h1{
    color: white;
     
    font-weight: 300;
    text-align: center;
    font-size: 5em;
    margin: 0;

    span{
        color: $primaryColor;
    }

    @media #{$media-md} {
      font-size: 4em;
    }

    @media #{$media-sm} {
      font-size: 3em;
    }

    @media #{$media-xs} {
      font-size: 2.5em;
    }
  }

  h2{
     
    color: $primaryColor;
    font-weight: 300;
    margin: 0;
    font-size: 2em;

    span{
      color: white;
    }

    @media #{$media-md} {
      font-size: 1.5em;
    }

    @media #{$media-xs} {
      font-size: 1.2em;
    }
  }
}

.about{
  padding-bottom: 24px;

  h3{
    margin-bottom: 0;
  }

  &__pic{
    width: 256px;
    border-radius: 50%;
    margin: 10px 0;
  }

  .btn{
    margin-top: 10px;
  }

  @media #{$media-sm} {
    padding: 8px;
    padding-bottom: 16px;

    .soft-text{
      margin: 5px 0;
      width: 100%;
    }
  }
}