.skills-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    width: 70%;

    @media #{$media-xl} {
        width: 90%;
    }

    @media #{$media-lg} {
        width: 100%;
    }

    @media #{$media-md} {
        grid-template-columns: 1fr 1fr;
        margin-bottom: 14px;
    }
}

.skill{
    padding: 16px;
    border: solid 1px $primaryColor;
    color: white;
    min-width: 60px;
    text-align: center;
    font-weight: 300;
    font-style: italic;
    transition: 0.3s;
    user-select: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover{
        background-color: rgba($primaryColor, 0.1);
    }
}