//Colors
$primaryColor: #df9a40;
$secondaryColor: #252c37;

//Fonts
$raleway: 'Raleway', sans-serif;

// Responsivity rules
$media-xl: "only screen and (max-width: 1200px)";
$media-lg: "only screen and (max-width: 992px)";
$media-md: "only screen and (max-width: 768px)";
$media-sm: "only screen and (max-width: 544px)";
$media-xs: "only screen and (max-width: 350px)";