section{
  padding: 30px;
  min-height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $secondaryColor * 0.85;

  &:nth-of-type(even){
    background-color: $secondaryColor;
  }

  h3{
    width: 200px;
    text-align: center;
    color: #fff;
     
    font-weight: 300;
    font-size: 2em;
    margin: 0;
    margin-bottom: 12px;
    padding-bottom: 32px;
    position: relative;

    &::first-letter{
      color: $primaryColor;
      font-size: 1.6em;
    }

    &::after{
      content: '';
      position: absolute;
      bottom: 8px;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      display: block;
      width: 9px;
      height: 9px;
      background-color: $primaryColor;
    }

    &::before{
      content: '';
      position: absolute;
      bottom: 16px;
      left: 20%;
      display: block;
      width: 20%;
      height: 1px;
      background-color: #fff;

      box-shadow: 80px 0px #fff;
    }

    @media #{$media-sm} {
      font-size: 1.6em;
    }
  }

  @media #{$media-sm} {
    padding: 10px;
  }
}

.soft-text{
  color: white;
   
  font-weight: 300;
  font-size: 1.1em;
  text-align: center;
  width: 70%;
  margin: 6px auto;

  em{
    color: $primaryColor;
  }

  @media #{$media-xl} {
    width: 90%;
  }

  @media #{$media-md} {
    font-size: 1em;
  }
}

.image-bg{
  background-size: cover;
  background-position: top;
  box-shadow: inset 0 0 0 1000px rgba($secondaryColor, 0.9);
  
  &--img{
    background: url('../img/bg.jpeg');
    background-size: cover;
  }

  &--pattern{
    /* Background pattern from Toptal Subtle Patterns */
    background: url('../img/dark_wall.png');
    box-shadow: inset 0 0 0 1000px rgba($secondaryColor, 0.4);
  }
}